.hero-container{
  position: relative;

  .component.hero {
    position: relative;
    padding-top:109px;
    padding-left: 39px;

    h1 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 1.2em;
      color: #35363A;
      margin-top: 23px;
    }

    .subtitle {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 26px;
      color: #35363A;
      margin-top: 25px;
    }

    .lead {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #35363A;
    }
    
    .hero-text {
      text-align: left;
      position: relative;
      width: 50%;
    }

    .button-container {
      display: flex;
      gap: 23px;
      margin-top: 27px;
    }

    .btn {
      border-radius: 5px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      transition: .3s background ease;
    }
    
    .btn-primary {
      background: #FFFFFF;
      border: 1px solid #1155CB;
      color: #1155CB;
      padding: 11px 29px;

      &:hover {
        background: #1155CB22;
      }
    }

    .btn-secondary {
      background: #1155CB;
      border: 1px solid #1155CB;
      color: #FFFFFF;
      padding: 11px 22px;

      &:hover {
        background: #1155CBDD;
      }
    }
  }
  .hero-image {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }
}
