.hero-container{
  position: relative;
  background: linear-gradient(260.87deg, #EAF3FA 3.75%, #EAF3FA 41.86%, rgba(234, 243, 250, 0) 80.29%, rgba(234, 243, 250, 0) 99.16%);

  .component.hero {
    position: relative;
    padding-top:109px;
    padding-left: 39px;
    padding-bottom: 129px;

    .hero-text {
      text-align: left;
      position: relative;
      width: 50%;

      h1 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 1.2em;
        color: #35363A;
        margin-top: 23px;
      }

      .subtitle {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 1.18em;
        color: #35363A;
        margin-top: 25px;
      }

      .lead {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5em;
        color: #35363A;
      }

      .new-line {
        display: block;
      }
    
    }

    .button-container {
      display: flex;
      flex-wrap: wrap;
      gap: 23px;
      margin-top: 27px;
    }

    .btn {
      border-radius: 5px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      transition: .3s background ease;
      white-space: nowrap;

      &:focus-visible {
        box-shadow: 0 0 0 4px white, 0 0 0 8px black;
      }
    }
    
    .btn-primary {
      background: #FFFFFF;
      border: 1px solid #1155CB;
      color: #1155CB;
      padding: 11px 29px;

      &:hover {
        background: #1155CB22;
      }
    }

    .btn-secondary {
      background: #1155CB;
      border: 1px solid #1155CB;
      color: #FFFFFF;
      padding: 11px 22px;

      &:hover {
        background: #1155CBDD;
      }
    }
  }
  .hero-image {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 54%;
    padding-bottom: 61px;
    object-fit: contain;
    object-position: right;
  }
}

@media only screen and (max-width: 768px) {
  .hero-container{
    .component.hero {
      padding: 48px 24px;

      .hero-text {
        width: 100%;
        z-index: 1;
        
        .new-line {
          display: inline;
        }

        h1 {
          font-size: 36px;
        }
    
        .subtitle {
          font-size: 20px;
        }
    
        .lead {
          font-size: 16px;
        }
      }
    }

    .hero-image {
      width: 100%;
      left: 0;
      object-position: center;
      opacity: .2;
    }
  }
}
